.user-gallery {
  width: 100%;

  > .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
  }

  > .heading + .items {
    margin-top: 32px;
  }
}
